body { font-family: cursive;
       text-align: center;
     background-image: url(images/background%201.jpg);
}
header { 
    letter-spacing:6px;
    background:royalblue;
    padding:20px;
}
h2 {font-size 2em; width: 100%}

section {
    padding:30px;
    margin-bottom:40px;
}
p { color: white;}
.text {
    color: white;
}

.container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.card {
    border: 1px solid grey;
    background-color: white;
    margin: 25px;
    padding: 25px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);  
}
.icons {
    font-size: 8em;
    padding: 25px;
}
.video {
    display: flex; 
    justify-content: space-between;
}
button, .button {
    background: black;
    border: 0;
    color: white;
    font: cursive;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}



.logo{align-items: center;}

@media screen and (min-width:50em) {
    .card {
        flex-basis:325px;
    }
    header h1 {
        font-size: 5em
    }
}
